@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Theme */

:root{
    --header-bg-color: rgb(48, 44, 44);
    --nav-bg-color: rgba(7, 6, 6, 0.5);
    --text-color: #fff;
    --bg-burger-menu: rgb(48, 44, 44);
    --burger-span: #fff;

}
    :root[theme='dark'] {
    --header-bg-color: rgb(233, 225, 225);
    --nav-bg-color: rgb(233, 225, 225, 0.5);
    --text-color: #161515;
    --img-bg-color: #4a494e;
    --bg-burger-menu: #fff;
    --burger-span: rgb(48, 44, 44);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 24;
    font-weight: 400;
    color: #fff;
    text-align: center; 
    --nav-vertical-size: 100px;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    
}

.flex {
    justify-content: flex-start;
    gap: 40px;
}

/* Header-contacts */

.header, .main {
    background-image: url("img/background-main-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    min-height: 700px;
}

.header-contacts a {
    display: flex;
    align-items: center;
}

.social {
    background: var(--img-bg-color); 
}

.header .contacts {
    padding: 5px;
    background: var(--header-bg-color);
    color: var(--text-color);
    
}

.header-nav {
    background: var( --panel-bg-color);

}
.header img {
    max-width: 100px;
    max-height: 50px;  
}

.border-line {
    border-right: 2px solid #a19f9f;
    padding-right: 5px;
}

.toggle-theme {
    background-color: #fff;
    color: #000;
    padding: 5px;
    margin-left: 20px;
    border: 1px solid #111010;
}

.toggle-theme:hover {
    background-color: #dbd9d9;
}

.toggle-theme:active {
    background-color: #838080;
}

/* Header nav  */

.nav {
    padding: 5px;
    background: var(--nav-bg-color);
    color: var(--text-color);
}

.nav a {
    text-transform: uppercase;
    
}

.nav ul li a{
    padding: 15px;
    display: block; 
}

.nav li:hover {
    background-color: #302e2e;
    color: #fff;
}

.nav ul li ul {
    position: absolute;
    background-color: #fff;
    color: #302e2e;
    width: 180px;
    left: 0;
    display: none;
}

.nav ul li {
    position: relative;
}

.nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1); 
}

.nav ul li ul li ul {
    left: 180px;
    top: 0;
}

.nav ul li:hover > ul{  
    display: initial;
}

/* Main page */

.main-page {
    color: var(--text-color);
}

.item img {
    width: 50px;
}

.main-text {
    padding: 100px 50px;
}

.item {
    font-size: 30px; 
    text-align: left;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 400px;
}

.main-text h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 600;
}

h1 span {
    border-bottom: 2px solid #6e6a6a;;
}
/* Footer */

.footer {
    padding: 20px;
    background: var(--header-bg-color);
    color: var(--text-color);
}

/* Burger menu */

.burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px; 
    z-index: 2;
}

.burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--burger-span);
    right: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.header.open .burger-btn span {
    background-color: var(--burger-span);
}

/* Media 620*/ 

@media(max-width: 620px) {  
    .none {
        display: none;
    }

    .burger-btn {
        display: block;
        z-index: 5;
    }

    .nav {
        position: absolute;
        width: 250px;
        left: -250px;
        top: 0;
        background-color: rgb(48, 44, 44);
        padding: 70px 40px 20px;
        transition: transform .5s;
        z-index: 2;
        background-color: var(--bg-burger-menu);
    }

    .nav ul {
        display: block;
    }

    .nav a {
        display: block;
        padding: 10px 0;
        color: var(--text-color);
    }

    .header.open .nav {
        transform: translateX(100%);
    }

    .nav ul li ul {
        left: 25px;
    }
    .nav ul li {
        position: static;
    }

    .nav ul li ul li ul {
        top: 120px
    }
}
